
 *{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    margin: 0;

    /* CENTER EVERYTHING */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    width: 100%;
    background: #020617;
    color: white;
    padding: 25px;
    text-align: center;
}

/* Main wrapper */
.container {
    width: 100%;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
}

/* Search box */
input {
    width: 60%;
    min-width: 250px;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

/* Grid */
.grid {
    width: 100%;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
    justify-content: center;   /* THIS IS THE KEY LINE */
    gap: 25px;
}

/* Card */
.card {
    background: white;
    width: 260px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

/* Footer */
footer {
    width: 100%;
    background: #020617;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
